<div class="slideshow-row section-id-{{ section.id }} testimonial" data-section-type="slideshow">
  {% unless settings.use_fullwidth_layout %}<div class="container uncontain-desktop-down">{% endunless %}
  <div class="slideshow auto-play scaled-text-base">
    {% for block in section.blocks %}
    
    <div class="slide slide-{{ forloop.index }}" {{ block.shopify_attributes }}>
      <div class="placeholder-image placeholder--banner">
      </div>
      
      {% if block.settings.testimonial != blank or block.settings.attribution != blank %}
      <div class="overlay-text">
        <div class="inner">
          <div class="text">
            <div class="scaled-text">
              <div>{{ block.settings.testimonial }}</div>
              <div class="second-line">&mdash; {{ block.settings.attribution }}</div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    
    {% endfor %}
  </div>
  {% unless settings.use_fullwidth_layout %}</div>{% endunless %}
</div>

<style type="text/css">
  {% for block in section.blocks %}
  .section-id-{{ section.id }} .slide-{{ forloop.index }} .text{
    color: {{ block.settings.text_color }};
  }
  .section-id-{{ section.id }} .slide-{{ forloop.index }} .placeholder--banner{
    background: {{ block.settings.bg_color }};
  }
  {% endfor %}
</style>


{% schema %}
  {
    "name": "Testimonials",
    "max_blocks": 8,
    "settings": [],
	  "blocks": [
	    {
		    "type": "image",
        "name": "Slide",
        "settings": [
          {
            "type": "richtext",
            "id": "testimonial",
            "label": "Testimonial",
    			  "default": "<p>I cannot believe how much energy I have. <br>This machine has changed my life.<p>"
          },
    			{
            "type": "text",
            "id": "attribution",
            "label": "Attribution",
    			  "default": "Happy Customer"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "Text color",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "bg_color",
            "label": "Background",
            "default": "#9bd2e2"
          }
    		]
	    }
	  ],
	  "presets": [
      {
    		"name": "Testimonials",
        "category": "Image",
        "settings": {},
    		"blocks": [
          {
    			  "type": "image"
    		  },
    	 	  {
    			  "type": "image"
    		  }
    		]
      }
	  ]
  }
{% endschema %}
